body {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(254, 255, 165) 0%,
    rgb(255, 232, 182) 90%
  );
  font-family: "Rubik";
}

a {
  color: #000000;
  text-decoration: none;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}

header {
  margin-bottom: 30px;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 48px;
  line-height: 1.5;
  color: #000000d6;
  font-family: "La Belle Aurore", serif;
}

.form-container {
  background-color: rgb(0, 0, 0);
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  padding: 15px 20px;
}

form {
  display: flex;
}

.hint {
  line-height: 1.5;
  margin-top: 5px;
  font-size: 12px;
  opacity: 0.6;
  color: white;
}

.instructions {
  padding: 16px;
  border: 1px solid rgba(39, 33, 66, 0.5);
  width: 80%;
  font-size: 16px;
  border-radius: 20px;
  line-height: 20px;
  color: #272044;
  background-color: #fffcdc;
}

.submit-button {
  margin-left: 10px;
  background: #fef464;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 20px;
  padding: 14px 24px;
  width: 150px;
  font-size: 16px;
  font-weight: bold;
}

.travel-activity {
  font-size: 16px;
  background-color: #fffcdc;
  padding: 20px;
  line-height: 2;
  border-left: 3px solid #000000;
  box-shadow: 0px 20px 60px rgba(39, 33, 66, 0.03);
}

.hidden {
  display: none;
}

.travel-activity strong {
  color: #000000;
}

footer {
  text-align: center;
  font-size: 13px;
  margin-top: 30px;
}

.generating {
  animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
